* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .header img {
  width: 100vw;
  height: 25vh;
} */
body {
  /* height: 100vh;
  overflow: hidden; */
  background: linear-gradient(45deg, rgb(66, 57, 57), #064b2c);
  font-family: Arial, Helvetica, sans-serif;
  color:
  rgb(9, 61, 27);
  /* display: flex;
  justify-content: center;
  align-items: center; */

}
.h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgba(0, 0, 0, 1)

}
.container {
  width: 350px;
  height: 500px;
  perspective: 500px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.container:hover   .card{
  cursor: pointer;
  /* transform: rotateY(90deg) */
  transform: rotateY(180deg) rotateZ(180deg);
}
.front,
.back {
  height: 100%;
  width: 100%;
}
.front {
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExemQzNGs4MHdkNGhyYmtreGZia2RsaTU5eTJ4dWRwc25tYWN2bTRxeiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1zJUcoB5R7oA6llWYm/giphy.webp);
  /* jason f13th gif */
}
.back {
 background-color: #f3ae0d;
 transform: rotateX(180deg);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: right;
 gap: 1rem;
}

/* freddy */
.h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgba(0, 0, 0, 1)

}
.container {
  width: 350px;
  height: 500px;
  perspective: 500px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.container:hover   .card{
  cursor: pointer;
  /* transform: rotateY(90deg) */
  transform: rotateY(180deg) rotateZ(180deg);
}
.front,
.back {
  height: 100%;
  width: 100%;
}
.front {
  background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWR3b2R0YjJhd2c0dDZsYW1tMnZyanZ2N2x1MmFmZWV4OW53Y2xmcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VXUpjaExrrsMU/giphy.gif);
  /* freddy krueger */
}
.back {
 background-color: #f3ae0d;
 transform: rotateX(180deg);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: right;
 gap: 1rem;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #093145;
}

h1 {
  text-align: center;
  margin: 40px auto;
  letter-spacing: 0.25em;
  color: rgb(235, 32, 32);
}

.img-container {
  max-width: 680px;
  margin: 20px auto;
}

.img-container::after {
  content: " ";
  display: block;
  clear: both;
}

img {
  display: block;
  float: left;
  width: 48%;
  height: 270px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  transition: 0.3s;
}


/* carousel */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2em;
  
}

.container {
  display: block;
  margin: 60px auto;
  text-align: center;
  font-size: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80vw;
  background-color: #f0ead6;
  padding-top: 20px;
}

.carouselbox {
  display:block;
  margin: auto;
  width: 300px;
  height: 200px;
  cursor: pointer;
  padding-bottom: 40px;
}

img {
  margin: 0 auto;
}

.prev {
  text-align: center;
  width: 100px;
  height: 30px
}

.next {
  text-align: center;
  width: 100px;
  height: 30px;
}

.wrapper {
  padding-bottom: 30px;
}