.jumpscare-container {
    position: relative;
}

img {

    max-width: 100%;
    height: auto;
    display: block;
    float: left;
    width: 48%;
    height: 270px;
    margin: 1%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}

.header img {
    width: 100vw;
    height: 25vh;
}



.horroricons-container {
    position: relative;
}

img {

    max-width: 100%;
    height: auto;
    display: block;
    float: left;
    width: 48%;
    height: 270px;
    margin: 1%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
    transition: 0.3s;
}