header {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}


body {
  font-size: large;
  background-color: rgb(7, 6, 6);
  color: rgb(8, 8, 8);
  neontext color: #fff;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}



/* text-shadow: 1px 1px 2px rgb(255, 97, 40), 0 0 1em rgb(255, 97, 40), 0 0 0.2em rgb(255, 73, 7); */


header {
  padding: 50;
  font-size: large;
  background-color: lightblue;
  color: black;

  header h1 {
  display: inline-block;
  margin-top: auto;
  position: relative;;

  }




}


nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin: 0;
  padding: 50;
  list-style-type: none;
  box-shadow: 40 10 px;
  background-color: rgb(170, 5, 5);
  color: rgba(2, 10, 0, 0.833);

}


.oneclick {
  color: black;








}
.container {
  width: 350px;
  height: 500px;
  perspective: 500px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}
.container:hover   .card{
  cursor: pointer;
  /* transform: rotateY(90deg) */
  transform: rotateY(180deg) rotateZ(180deg);
}
.front,
.back {
  height: 100%;
  width: 100%;
}
.front {
  background-image: img(images/jason_voorhees_by_plaiemobile_dgbab8v-fullview);
  /* jason v*/
}
.back {
 background-color: #f3ae0d;
 transform: rotateX(180deg);
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: right;
 gap: 1rem;
}




